name: main
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin
      - name: Change permissions
        run: chmod +x ./ci.sh
      - name: Build
        run: ./ci.sh
